.promoCardPro {
    position: relative;
    border-radius: 20px;
    background-color: #E2E1F4;
    width: 365px;
    height: 800px;
}

.infoTooltip .tooltip-inner {
    background-color: #E2E1F4;
    color: #112340;
    border: 1px solid #112340;
}

.divided {
    height:2px;
    background-color: #112340;
}

.btnPro {
    background-color: white;
    margin-top: 15px;
    margin-left: 65px;
}

.btnPro:hover {
    background-color: #E6ECF9;
}

.btnProBorder {
    width: 180px;
    height: 38px;
    border: 2px solid #091125;
    opacity: 0.5;
    border-radius: 10px;
    position: absolute;
    right: 85px;
    top: 593px;
    pointer-events: none;
}


.borderCardPro {
    position: absolute;
    border: 1px solid #112340;
    width: 365px;
    height: 800px;
    border-radius: 20px;
    top: -5px;
    right: 5px;
    pointer-events: none;
}